{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block header %}
	<h1>{% block title %}Minute Pitch - Create Account{% endblock %}</h1>
{% endblock %}


<!-- Content block -->
{% block content %}

<div class="container register-user" style="background-color: white;margin-top: 70px;" >
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h3>Register here</h3>
			{{ wtf.quick_form(registration_form) }}

			<div class="border-top pt-3">
				<small class="text-muted">
					Already Have an account?<a class="ml-2" href="{{url_for('auth.login')}}">Sign In</a>
				</small>
			</div>
    	</div>
	</div>



</div>


{% endblock%}



<!-- <div id="login" class="home mt20">
	<div class="account mb0">
		<form action="" method="POST" role="form">
			{{ registration_form.csrf_token }}
			<div class="form-group">
				{{ registration_form.username(class_="form-control squared",placeholder="Username",autocomplete="off") }}
			
			</div>
			<div class="form-group">
				{% if registration_form.email.errors%}
				{{ registration_form.email(class_="form-control squared is-invalid",placeholder="Email Address",autocomplete="off") }}
				<div class="invalid-feedback">
					{% for error in registration_form.email.errors%}
					<span>{{error}}</span>
					{% endfor%}
				</div>
				{% else%}
				
				{{ registration_form.email(class_="form-control squared",placeholder="Email Address",autocomplete="off") }}
				{% endif %}


				
			</div>
			<div class="form-group">
			
				{{ registration_form.password(class_="form-control squared",placeholder="Password",autocomplete="off") }}
				
			</div>
			<div class="form-group">
				{% if registration_form.password.errors%}
				{{ registration_form.confirm_password(class_="form-control squared is-invalid",placeholder="Password",autocomplete="off") }}
				<div class="invalid-feedback">
					{% for error in registration_form.confirm_password.errors%}
					<span>{{error}}</span>
					{% endfor%}
				</div>
				{% else%}
				
				{{ registration_form.confirm_password(class_="form-control squared",placeholder="Password",autocomplete="off") }}
				{% endif %}

				
			</div>
			
			{{ registration_form.submit(class="btn btn-primary btn-block btn-no-radius btn-padding") }}
		</form>
	</div>

 -->
